<% @games.each do |game| %>
  <div><%= attachment_image_tag game, :image, :fill, 180, 180 %></div>
  <div><%= game.title %></div>
  <div><%= game.designer %></div>
  <div><%= game.player %></div>
  <div><%= link_to "詳細", game_path(game.id) %></div>
<% end %>