<div class="container myself_container">
  <div class="row">
    <h3 class="title col-lg-12">ゲーム詳細</h3>
    <div class="col-lg-10 col-lg-offset-1", style="margin-top: 10px;">
	  <div class="col-lg-4"><%= attachment_image_tag @game, :image, :fill, 300, 300 %></div>
	  <div class="col-lg-8 show_game_box">
		<div class="show_game_contents"><%= @game.title %></div>
		<div class="show_game_contents"><%= @game.original_title %></div>
		<div class="show_game_contents"><%= @game.designer %></div>
		<div class="show_game_contents"><%= @game.release %></div>
		<div class="show_game_contents"><%= @game.player %></div>
		<div class="show_game_contents"><%= @game.weight %></div>
		<div class="show_game_contents"><%= @game.age %></div>
		<div id="watches_buttons_<%= @game.id %>">
		  <%= render partial: 'watches/watch', locals: { game: @game} %>
		</div>
		<% if @game.user == current_user %>
		  <%= link_to "編集", edit_game_path, class: "show_button edit_color" %>
	      <%= link_to "削除", game_path, method: :delete, class: "show_button destroy_color" %>
	    <% end %>
	  </div>
	  <h3 class="col-lg-12">評価</h3>
	  <div class="col-lg-2">
	  	<div id="excellents_buttons_<%= @game.id %>">
	      <%= render partial: 'excellents/excellent', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="goods_buttons_<%= @game.id %>">
	      <%= render partial: 'goods/good', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="fairs_buttons_<%= @game.id %>">
	      <%= render partial: 'fairs/fair', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="ungoods_buttons_<%= @game.id %>">
	      <%= render partial: 'ungoods/ungood', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	   <div id="bads_buttons_<%= @game.id %>">
	     <%= render partial: 'bads/bad', locals: { game: @game} %>
	   </div>
	  </div>
	  <div class="col-lg-2"></div>
	  <h3 class="col-lg-12">対象</h3>
	  <div class="col-lg-2">
	    <div id="for_kids_buttons_<%= @game.id %>">
	     <%= render partial: 'for_kids/for_kid', locals: { game: @game} %>
	    </div>
	  </div>
      <div class="col-lg-2">
	    <div id="for_teens_buttons_<%= @game.id %>">
	     <%= render partial: 'for_teens/for_teen', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="for_women_buttons_<%= @game.id %>">
	     <%= render partial: 'for_women/for_woman', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="for_men_buttons_<%= @game.id %>">
	     <%= render partial: 'for_men/for_man', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="for_beginners_buttons_<%= @game.id %>">
	     <%= render partial: 'for_beginners/for_beginner', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="for_geeks_buttons_<%= @game.id %>">
	     <%= render partial: 'for_geeks/for_geek', locals: { game: @game} %>
	    </div>
	  </div>
	  <h3 class="col-lg-12">シチュエーション</h3>
	  <div class="col-lg-2">
	    <div id="carefullies_buttons_<%= @game.id %>">
	     <%= render partial: 'carefullies/carefully', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="excitements_buttons_<%= @game.id %>">
	     <%= render partial: 'excitements/excitement', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="two_p_can_enjoys_buttons_<%= @game.id %>">
	     <%= render partial: 'two_p_can_enjoys/two_p_can_enjoy', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="drunk_can_enjoys_buttons_<%= @game.id %>">
	     <%= render partial: 'drunk_can_enjoys/drunk_can_enjoy', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="for_singles_parties_buttons_<%= @game.id %>">
	     <%= render partial: 'for_singles_parties/for_singles_party', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="with_friend_can_enjoys_buttons_<%= @game.id %>">
	     <%= render partial: 'with_friend_can_enjoys/with_friend_can_enjoy', locals: { game: @game} %>
	    </div>
	  </div>
	  <h3 class="col-lg-12">実際のプレイ時間</h3>
	  <div class="col-lg-2">
	     <div id="light_weights_buttons_<%= @game.id %>">
	     <%= render partial: 'light_weights/light_weight', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	     <div id="midlle_weights_buttons_<%= @game.id %>">
	     <%= render partial: 'midlle_weights/midlle_weight', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="super_midlle_weights_buttons_<%= @game.id %>">
	     <%= render partial: 'super_midlle_weights/super_midlle_weight', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	     <div id="heavy_weights_buttons_<%= @game.id %>">
	     <%= render partial: 'heavy_weights/heavy_weight', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	     <div id="super_heavy_weights_buttons_<%= @game.id %>">
	     <%= render partial: 'super_heavy_weights/super_heavy_weight', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2"></div>
	  <h3 class="col-lg-12">メカニクス</h3>
	  <div class="col-lg-2">
	    <div id="dices_buttons_<%= @game.id %>">
	     <%= render partial: 'dices/dice', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="buttings_buttons_<%= @game.id %>">
	     <%= render partial: 'buttings/butting', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="actions_buttons_<%= @game.id %>">
	     <%= render partial: 'actions/action', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="tile_placements_buttons_<%= @game.id %>">
	     <%= render partial: 'tile_placements/tile_placement', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="bluffs_buttons_<%= @game.id %>">
	     <%= render partial: 'bluffs/bluff', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="hand_managements_buttons_<%= @game.id %>">
	     <%= render partial: 'hand_managements/hand_management', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="set_collections_buttons_<%= @game.id %>">
	     <%= render partial: 'set_collections/set_collection', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="expanded_reproductions_buttons_<%= @game.id %>">
	     <%= render partial: 'expanded_reproductions/expanded_reproduction', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="worker_placements_buttons_<%= @game.id %>">
	     <%= render partial: 'worker_placements/worker_placement', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="trick_takings_buttons_<%= @game.id %>">
	     <%= render partial: 'trick_takings/trick_taking', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	   <div id="partnerships_buttons_<%= @game.id %>">
	     <%= render partial: 'partnerships/partnership', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="concealments_buttons_<%= @game.id %>">
	     <%= render partial: 'concealments/concealment', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	   <div id="draftings_buttons_<%= @game.id %>">
	     <%= render partial: 'draftings/drafting', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="bursts_buttons_<%= @game.id %>">
	     <%= render partial: 'bursts/burst', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	   <div id="cooperations_buttons_<%= @game.id %>">
	     <%= render partial: 'cooperations/cooperation', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	   <div id="negotiations_buttons_<%= @game.id %>">
	     <%= render partial: 'negotiations/negotiation', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="area_majorities_buttons_<%= @game.id %>">
	     <%= render partial: 'area_majorities/area_majority', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="memories_buttons_<%= @game.id %>">
	     <%= render partial: 'memories/memory', locals: { game: @game} %>
	    </div>
	  </div>
	  <h3 class="col-lg-12">その他</h3>
	  <div class="col-lg-2">
	    <div id="repeats_buttons_<%= @game.id %>">
	     <%= render partial: 'repeats/repeat', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="studies_buttons_<%= @game.id %>">
	     <%= render partial: 'studies/study', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="lucks_buttons_<%= @game.id %>">
	     <%= render partial: 'lucks/luck', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="forces_buttons_<%= @game.id %>">
	     <%= render partial: 'forces/force', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="only_onces_buttons_<%= @game.id %>">
	     <%= render partial: 'only_onces/only_once', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="long_waiting_times_buttons_<%= @game.id %>">
	     <%= render partial: 'long_waiting_times/long_waiting_time', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="easy_rules_buttons_<%= @game.id %>">
	     <%= render partial: 'easy_rules/easy_rule', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="easy_to_gets_buttons_<%= @game.id %>">
	     <%= render partial: 'easy_to_gets/easy_to_get', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2">
	    <div id="many_expansions_buttons_<%= @game.id %>">
	     <%= render partial: 'many_expansions/many_expansion', locals: { game: @game} %>
	    </div>
	  </div>
	  <div class="col-lg-2"></div>
	  <div class="col-lg-2"></div>
	  <div class="col-lg-2"></div>
    </div>
  </div>
</div>