<!DOCTYPE html>
<html>
  <head>
    <title>BGR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "log in", new_user_session_path %>
    <%= link_to "sign up", new_user_registration_path %>
    <%= link_to " logout", destroy_user_session_path, method: :delete %><br>
    <%= yield %>
  </body>
</html>
